.transaction-table {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 565px;
}

.transaction-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 17px;
}

.transaction-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
}

.transaction-info {
  display: flex;
  flex-direction: column;
}

.transaction-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.transaction-label:first-child:hover {
  cursor: pointer;
}

.transaction-value {
  margin-left: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/*  */

.sort-arrow {
  display: inline-block;
  margin-left: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.asc {
  border-bottom: 4px solid #000;
}

.desc {
  border-top: 4px solid #000;
}